<!---
code for using external links is from https://www.tjvantoll.com/2017/01/02/listing-external-articles/;
there is also a file added in layouts: external.html and the posts amended accordingly;
-->

  <form onsubmit='return false'>
    <ul class="lists">
      {% for post in site.posts %}
      {% capture url_to_use %}{{ post.url }}{% endcapture %}
      {% if post.redirect_url %}
      {% capture url_to_use %}{{ post.redirect_url }}{% endcapture %}
      {% endif %}
      {% if post.tags[0] != "ongoing" %}
      <li>
        <input id="node2++{{ forloop.index }}" name='node' class='node' type="radio">
        <label for="node2++{{ forloop.index }}" data-idx='2++{{ forloop.index }}'>{{ post.date | date: "%Y" }} {{ post.title }}</label>
        <ul>
          <li>
            <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>{{post.categories[0]}}</em>
          <br><br>
          <div class="short"> {{ post.short }}</div>
          <br>
          <a href="{{ url_to_use }}"> <svg height="15" viewBox="0 0 1792 1792" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m1408 928v-480q0-26-19-45t-45-19h-480q-42 0-59 39-17 41 14 70l144 144-534 534q-19 19-19 45t19 45l102 102q19 19 45 19t45-19l534-534 144 144q18 19 45 19 12 0 25-5 39-17 39-59zm256-512v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z"/></svg></a>
        </li>
        </ul>
      </li>
        {% endif %}
      {% endfor %}
    </ul>
  </form>
